<h6 class="mx-3 my-2">
    <label for="formGroupExampleInput" class="form-label">Текущий путь:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder={{activefiledirlist.activePath}} #formGroupExampleInput>
</h6>

<div class="row">
    <div class="col-6 gap-2 justify-content-md-end my-1">
        <button type="button tbutton"
        class="btn btn-outline-primary tbutton ml-3"
        (click)="Back()">Назад</button>
    </div>
    <div class="col-6 gap-2 d-md-flex justify-content-md-end my-1">
        <button type="button tbutton"
            class="btn btn-outline-primary tbutton mr-3"
            (click)="Follow(formGroupExampleInput)">Перейти</button>
    </div>
</div>
